<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20 mb20 ">
            <div class="col-md-10 offset-md-1 ">
                <mat-card >
                
                <h1 >Add New Category</h1>
                
                
                <form (ngSubmit)="formSubmit()" >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input 
                       
                        name="title"
                        
                        matInput placeholder="Enter Here"
                        [(ngModel)] = "category.title">
               
                      </mat-form-field><br>

                      <mat-form-field class="full-width " appearance="outline" rows="25">
                        <mat-label>Description</mat-label>
                        <textarea
                      
                        name="description"
                         
                    
                         matInput placeholder="Enter Category Detail"
                         [(ngModel)] = "category.description"></textarea>
                      </mat-form-field><br><br>
                      
                      <div class="container text-center" >
                        <button  mat-raised-button color="primary" type="submit" >Add</button>

                        
                      </div>

                      
                   
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>


