<mat-card  class="mt20" *ngFor="let q of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{ q.title }}
    
        </mat-card-title>
        <mat-card-subtitle>
            {{ q.category .title }}
        </mat-card-subtitle>
    </mat-card-header>
    
        <button [routerLink]="'/admin/view-quiz-questions/' + q.qId + '/' + q.title" mat-raised-button color="primary">Question</button>
        <button mat-raised-button color="primary" class="ml20">Max Marks : {{ q.maxMarks }}</button>
        <button mat-raised-button color="primary" class="ml20">Questions : {{ q.numberOfQuestion }}</button>
        <button [routerLink]="'/admin/quiz/' + q.qId" mat-raised-button color="primary" class="ml20">Update</button>
        <button mat-raised-button color="primary" class="ml20">Attempts</button>
        <button mat-raised-button color="primary" class="ml20" (click)="deleteQuiz(q.qId)">Delete</button>


        
        
    
    
</mat-card>
<div class="container text-center mt20">   <button routerLink="/admin/add-quiz" mat-raised-button color="primary" class="mt20">Add New Quizz</button></div>